#panel {
    position: absolute;
    left: 25%;
    width: 50%;
    border: 5px solid black;
    border-radius: 12px;
    box-shadow: 0 1px 5px #000;
    padding: 20px;
    background-color: #e0e0e0;
}
#form_panel {
    text-align: center;
}
#clave {
    width: 95%;
    border-radius: 4px;
    border-width: 0;
    margin-bottom: 5px;
    padding: 5px 1px;
    font-family: "JetBrains Mono",monospace;
}
#field_numeros {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 5px;
    grid-column-gap: 10px;
    background-color: rgba(205, 211, 210, 0.87);
    border-radius: 4px;
    border-width: 0;
}
#field_numeros button {
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
}
#field_numeros button:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

#field_numeros button:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
}

#field_numeros button:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}
#field_numeros button#validar {
    grid-column: 2 / 4;
}

#respuesta {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    bottom: 0;
    margin: auto;
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-sizing: border-box;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    white-space: nowrap;
    font-size: 18px;
}
#respuesta.show {
    display: inline-flex;
}
.error {
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(255, 0, 0, 0.22) 0 -3px 0 inset;
    color: #902222;
}
.exito {
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(47, 255, 0, 0.22) 0 -3px 0 inset;
    color: #3a9022;
}